flask
flask-login
flask-sqlalchemy
flask-cors
flask-wtf
python-dotenv
pandas
numpy
openai
langchain
langgraph
langchain-openai
plotly
matplotlib
seaborn
scikit-learn
jupyter
nbformat
PyJWT
werkzeug
gunicorn
python-multipart
reportlab
markdown

Flask-Migrate
